**/.DS_STORE
desktop.ini
**/.classpath
**/.project
**/.settings
**/.factorypath
build/
bin/
target/
node_modules

# IDEs
.vscode/
.idea/
nbproject/

# API
api/vendor
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache