@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900;1000&display=swap');
:root{
    --cor-primaria:#1c547a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 16pt "Montserrat";
    font-weight: 400;
}
p{
    word-wrap: break-word;
    hyphens: auto;
    font-size: 16px;
    line-height: 29px;
    font-weight: 550;
}
a{
    text-decoration: none;
    color:#143d58;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url(../imgs/slide01_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(45%);
    z-index: -1000;
}
.logo{
    width: 100%;
}
.logo img{
    margin-top: 75px;
    margin-left: 135px;
    width: 287px;
}
.textos-hero{
    display: flex;
    width: 100%;
}
.textos-hero div{
    margin: auto 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 238px;
    color: var(--cor-primaria);
    width: 710px;
    z-index: 1;
    margin-top: 15%;
}
h1{
    font-weight: 900;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 6.02px;
    text-transform: uppercase;
    color: var(--cor-primaria);
}
h2{
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 3.2px;
    color: var(--cor-primaria);
}
.textos-hero h3{
    position: relative;
    margin-bottom: 35px;
    z-index: 1000;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: 3.2px;
    text-align: left;
    color: var(--cor-primaria);
}
.textos-hero div h3::before{
    height: 204px;
    position: absolute;
    content: "01";
    font-weight: 900;
    font-size: 204px;
    z-index: -1000;
    line-height: 0;
    top: -30px;
    opacity: 0.15;
    color: white;
}
button.assista-agora{
    font-size: 14px;
    margin-top: 33px;
    text-transform: uppercase;
    width: 161px;
    height: 51px;
    border: none;
    color: white;
    background-color: var(--cor-primaria);
}
.seletor-slide-01{
    display: flex;
    justify-content: center;
}
.seletor-slide-01 ul{
    display: flex;
    list-style-type: none;
}
.seletor-slide-01 ul li {
    padding: 100px 10px;
}
.seletor-slide-01 ul li div{
    width: 30px;
    height: 4px;
    background-color: var(--cor-primaria);
}
.container-sobre{
    display: flex;
    padding: 65px 135px 133px 238px;
} 
.textos-sobre{
    width: 686px;
}
.textos-sobre h1{
    margin-bottom: 10px;
}
.textos-sobre h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;
}
.textos-sobre h3{
    margin-bottom: -10px;
}
.youtube{
    min-width: 700px;
    min-height: 525px;
    max-width: 700px;
    max-height: 525px;
    background-color: black;
    margin-left: 154px;
    margin-top: -136px;
}
.novo-visual{
    padding: 68px 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f8fafb;
}
.novo-visual h1{
    margin-bottom: 15px;
}
.novo-visual h3{
    margin-bottom: -8px;
}
.novo-visual p{
    margin-top: 20px;
}
hr{
    width: 60%;
    border: solid .1px #e2e2e2;
    background-color: #e2e2e2;
}
.novo-visual hr{
    margin: 68px 0px 79px 0px;
    width: 60%;
    border: solid .1px #e2e2e2;
    background-color: #e2e2e2;
}
.article-container{
    display: flex;
    justify-content: center;
    width: 530px;
    background-color: #ffff;
}
.article-novo-visual{
    width: 100%;
    position: relative;
    text-align: left;
    border: solid 1px #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 59px 48px 50px;
}
.article-novo-visual img{
    margin: 0 auto;
    margin-top: -30px;
}
hr[green]{
    position: absolute;
    bottom: 180px;
    width: 1px;
    height: 328px;
    background-color: #8ec341;
}
.seletor-slide-02{
    display: flex;
    justify-content: center;
}
.seletor-slide-02 ul{
    display: flex;
    list-style-type: none;
}
.seletor-slide-02 ul li {
    padding: 50px 10px 0px 10px;
}
.seletor-slide-02 ul li div{
    width: 30px;
    height: 4px;
    background-color: var(--cor-primaria);
}
.seta{
    align-self: center;
    font-size: 120px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.42;
    padding: 0px 20px;
}
.conteudo{
    padding-top: 100px;
}
.conteudo-azul h1,.conteudo-azul h2 ,.conteudo-azul h3,.conteudo-azul p{
    color: white;
    padding-left: 50px;
}
.conteudo-azul{
    padding: 38px 135px;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles-conteudo{
    margin-top: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}
.articles-conteudo article{
    position: relative;
}
.articles-conteudo article::before{
    position: absolute;
    content: "";
    top: 70px;
    left: 25px;
    width: 1px;
    height: 233px;
    background-color: #fdb745;
}
.articles-conteudo article img{
    width: 100%;
}
.articles-conteudo h3{
    padding-top: 20px;
    color: #fdb745;
}
.articles-conteudo article h1{
    font-size: 18px;
    letter-spacing: 2.52px;
    line-height: 20px;
    margin-bottom: 10px;
}
.desenvolvimento{
    display: flex;
    flex-direction: column;
}
.desenvolvimento img.moleculas {
    padding: 134px 338px 0px 338px;
}
.textos-desenvolvimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 556px;
    text-align: center;
}
.textos-desenvolvimento hr{
    margin-top: 30px;
    margin-bottom: 35px;
}
.textos-desenvolvimento h3{
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: normal;
}
.textos-desenvolvimento h1{
    margin-bottom: 15px;
}
.prime-sustentavel{
    display: flex;
    justify-content: center;
}
.prime img{
    max-width: 44px;
}
h4{
    font-size: 36px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.icone-texto{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.sustentavel{
    padding-left: 70px;
}
.sustentavel, .prime{
    max-width: 469px;
}
.sustentavel p, .prime p{
    padding-left: 64px;
}
.elementos-article{
    padding: 40px 300px 150px 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.elementos-article article{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 260px;
}
.elementos-article article div{
    border: solid 1px #e2e2e2;
    width: 100%;
    padding: 10px 30px 20px 30px;
}
.elementos-article article div h2{
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 600;
}
.elementos-article article div .titulo-article{
    letter-spacing: 1px;
    font-size: 15px;
    line-height: normal;
}
.elementos-article article div .subtitulo-article{
    font-size: 10px;
    line-height: normal;
    padding-top: 4px;
}
.elementos-article article div:nth-child(2){
    display: flex;
    align-items: center;
    padding: 8px;
}
.elementos-article article div:nth-child(2) img{
    width: 23px;
    padding-left: 6px;
}
.elementos-article article div:nth-child(2) h2{
    font-size: 10px;
}
.fale-conosco{
    padding: 70px 30%;
    text-align: center;
    background-color: #f8fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fale-conosco h3{
    margin-bottom: 10px;
    line-height: normal;
}
.fale-conosco h1{
    margin-bottom: 50px;
}
.fale-conosco form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 9px 14px;
    grid-template-areas: "nome nome" "email telefone" "mensagem mensagem" "none submit";
}
.fale-conosco form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fale-conosco form div:nth-child(1){
    grid-area: nome;
}
.fale-conosco form div:nth-child(2){
    grid-area: email;
}
.fale-conosco form div:nth-child(3){
    grid-area: telefone;
}
.fale-conosco form div:nth-child(4){
    grid-area: mensagem;
}
.fale-conosco form div input, .fale-conosco form div textarea{
    padding: 16px 24px;
}
.fale-conosco form div textarea{
    height: 140px;
    resize: none;
}
.fale-conosco form .submit{
    margin-top: 30px;
    float: right;
    justify-self: self-end;
    grid-area: submit;
    width: 160px;
    height: 60px;
    border: none;
    color: white;
    background-color: var(--cor-primaria);
}
.fale-conosco form div span{
    float: left;
    color: var(--cor-primaria);
    font-weight: 500;
    margin-bottom: 8px;
}
footer{
    background-color: var(--cor-primaria);
}
.footer-container{
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 100px 220px;
    width: 100%;
    max-width: 1600px;
}
.links{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer-container a{
    color: white;
    font-size: 16px;
}
.footer-container h3{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-container p{
    font-weight: 400;
}