@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900;1000&display=swap');
:root{
    --cor-primaria:#1c547a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 16pt "Montserrat";
    font-weight: 400;
}
header{
    min-height: 100vh;
    background-image: url(../imgs/slide01_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo{
    width: 100%;
}
.logo img{
    margin-top: 75px;
    margin-left: 135px;
    width: 287px;
}
.textos-hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 75vh;
}
.textos-hero div{
    margin: auto 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 243px;
    color: var(--cor-primaria);
    width: 700px;
}
.textos-hero h1{
    font-weight: 900;
    font-size: 43px;
}
.textos-hero h3{
    margin-bottom: 35px;
}
button.assista-agora{
    font-size: 14px;
    margin-top: 53px;
    text-transform: uppercase;
    width: 161px;
    height: 51px;
    border: none;
    color: white;
    background-color: var(--cor-primaria);
}
.seletor-slide-01{
    display: flex;
    justify-content: center;
}
.seletor-slide-01 ul{
    display: flex;
    list-style-type: none;
}
.seletor-slide-01 ul li {
    padding: 0px 10px;
}
.seletor-slide-01 ul li div{
    width: 30px;
    height: 4px;
    background-color: var(--cor-primaria);
}